<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Enroll:</strong>
  <%= @user.enroll %>
</p>

<p>
  <strong>License:</strong>
  <%= @user.license %>
</p>

<p>
  <strong>Skill 1:</strong>
  <%= @user.skill_1 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
